<nav class="barra">
    <a class="logo" href="/">MUN inc</a>
    <ul>
        <li>
            <a href="/addCustomer">Add new customer</a>
        </li>
        <li>
            <a href="/showCustomers">All customers</a>
        </li>
    </ul>
</nav>