<div>
    <div>
        <h3>Create new customer</h3>
    </div>
<form action="/addCustomer/newCustomer" method="post">
    <div>
    <input type="text" name="name" placeholder="Name" autofocus required>
    </div>
    <div>
    <input type="text" name="lastName" placeholder="Last name" autofocus required>
    </div>
    <div>
    <input type="date" name="dBirth" placeholder="Date of birth" autofocus required>
    </div>
    <div>
    <input type="email" name="email" placeholder="Email" autofocus required>
    </div>
    <div>
    <input type="text" name="phone" placeholder="Phone number" autofocus required>
    </div>

    <div>
        <button type="submit">add</button>
    </div>
</form>
</div>